<div class="center jumbotron">
  <h1> Welcome to Car Parts Portal  </h1>
  <h3> Your final stop for finding car parts </h3>

  <a href="find_parts_page" class="center btn btn-lg btn-primary">Start a search</a>
  <a href="welcome#signup" class="center btn btn-lg">Sign up now!</a>
</div>
